@use "colors";
@use "border-radius";

section.about-me {
    width: 100%;

}

#about-me-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-flex-align: center;
    justify-content: space-around;
    width: 80%;

    img {
        width: 20%;
        height: auto;
        border-radius: 50%;
        display: inline;
    }
    .text{
        display: inline;
        p{text-indent: 1em;}
    }
}

@media only screen and (orientation:portrait){
    #about-me-content {
        flex-direction: column;
        img{
            width: 50%;
            }
    }
}